* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background: url(./Image/background.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.logo {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}

.menu a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.text {
  color: #fff;
  position: absolute;
  top: 30%;
  right: 55%;
}

#button{
 padding-top: 40px;
} 

.button1{
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #FF7600;
}

.button2{
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #185ADB;
}

.box{
  padding-top: 5%;
  text-align: center;
}

.row{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

}

.row p{
  width: 30%;
}

.fas{
  font-size: 10rem;
}

.box1{
  display: flex;
  padding-top: 5%;
  position: absolute;
  left: 10%;
 
}

.column{
  margin: 60px;
  width: 18%;
}

.far{
  color: #fff;
  background: #185ADB;
  font-size: 50px;
  padding: 30px 30px;
  border-radius: 100px;
}

.button1{
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #FF7600;
}