* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background: url(./Image/background.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.logo {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}

.menu a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.text {
  color: #fff;
  position: absolute;
  top: 30%;
  right: 55%;
}

#button {
  padding-top: 40px;
}

.button1 {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #ff7600;
}

.button2 {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #185adb;
}

.box {
  padding-top: 5%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.row p {
  width: 30%;
}

.fas {
  font-size: 10rem;
}

.box1 {
  display: flex;
  padding-top: 5%;
  margin-left: 15%;
}

.column {
  margin: 60px;
  width: 18%;
}

.column h3,
p {
  padding-top: 20px;
}

.far {
  color: #fff;
  background: #185adb;
  font-size: 50px;
  padding: 30px 30px;
  border-radius: 100px;
}

/* .img-text {
  border: 1px solid lightblue;
  border-radius: 0 0 20px 0;
   margin: 10px; 
} */

/* .project{
  text-align: center;
  margin-bottom: 5%;
} */

 /* .img-text img {
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  /* margin-left: 6em; 
}

.img-text {
  border: 1px solid lightblue;
  border-radius: 0 0 20px 0;
  margin: 10px;
} */

/* .img-text .img {
  position: relative;
}

.img {
  position: relative;
} */

/* img{
  width: 20%;
} */


.project{
  text-align: center;
}

.projects{
width: 100%;
} 

.all{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}

img{
  width: 100%;
  padding: 5px;
  height: 30vh;
}

.img-text{
  border: 1px solid lightblue;
  
}